[submodule "lib/calamari"]
	path = lib/calamari
	url = https://github.com/Calamari-OCR/calamari.git

[submodule "lib/samuLearnUI.ts"]
	path = lib/samuLearnUI.ts
	url = https://github.com/your-repo/samuLearnUI.ts.git
	